<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>银色</key>
	<dict>
		<key>item1</key>
		<string>z6</string>
		<key>128G</key>
		<string>1</string>
		<key>32G</key>
		<string>1</string>
	</dict>
	<key>磨砂黑</key>
	<dict>
		<key>item1</key>
		<string>z5</string>
		<key>128G</key>
		<string>0</string>
		<key>32G</key>
		<string>1</string>
	</dict>
	<key>玫瑰金</key>
	<dict>
		<key>item1</key>
		<string>z4</string>
		<key>128G</key>
		<string>1</string>
		<key>32G</key>
		<string>0</string>
	</dict>
	<key>亮黑</key>
	<dict>
		<key>item1</key>
		<string>z3</string>
		<key>128G</key>
		<string>1</string>
		<key>32G</key>
		<string>1</string>
	</dict>
	<key>金色</key>
	<dict>
		<key>item1</key>
		<string>z2</string>
		<key>128G</key>
		<string>0</string>
		<key>32G</key>
		<string>1</string>
	</dict>
	<key>红色</key>
	<dict>
		<key>item1</key>
		<string>z1</string>
		<key>128G</key>
		<string>1</string>
		<key>32G</key>
		<string>0</string>
	</dict>
	<key>128G</key>
	<dict>
		<key>item</key>
		<string>1880</string>
		<key>银色</key>
		<string>1</string>
		<key>磨砂黑</key>
		<string>0</string>
		<key>玫瑰金</key>
		<string>1</string>
		<key>亮黑</key>
		<string>1</string>
		<key>金色</key>
		<string>0</string>
		<key>红色</key>
		<string>1</string>
	</dict>
	<key>32G</key>
	<dict>
		<key>item</key>
		<string>1550</string>
		<key>银色</key>
		<string>1</string>
		<key>磨砂黑</key>
		<string>1</string>
		<key>玫瑰金</key>
		<string>0</string>
		<key>亮黑</key>
		<string>1</string>
		<key>金色</key>
		<string>1</string>
		<key>红色</key>
		<string>0</string>
	</dict>
</dict>
</plist>
